<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

<h2>Read Data</h2>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

The functions below will download the dataset into your browser:

In [2]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

In [3]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

To obtain the dataset, utilize the download() function as defined above:

In [4]:
await download(file_path, "m1_survey_data.csv")
file_name="m1_survey_data.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [5]:
df = pd.read_csv(file_name)

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

In [ ]:
#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [7]:
# your code goes here
number_of_duplicates = df.duplicated().sum()
print(number_of_duplicates)

154

In [9]:
number_of_duplicate_values = df['Respondent'].duplicated().sum()
print(number_of_duplicate_values)

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [10]:
# your code goes here
df.drop_duplicates(inplace=True)

Verify if duplicates were actually dropped.

In [11]:
# your code goes here
num_of_duplicates_updated = df.duplicated().sum()
print(num_of_duplicates_updated)

0

In [14]:
#Quiz Question #1
num_of_rows = len(df)
print(num_of_rows)

11398

In [15]:
#Quiz Question #2
number_of_unique_respondents = df['Respondent'].nunique()
print(number_of_unique_respondents)

11398

## Finding Missing values

Find the missing values for all columns.

In [22]:
# your code goes here
missing_value_counts = df.isna().sum()
print(missing_value_counts)

Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

In [25]:
# Quiz Question #1 and 2
blank_rows_count = (df['EdLevel'] == '').sum()
print(blank_rows_count)

blank_rows_count_two = (df['Country'].str.strip() == '').sum()
print(blank_rows_count_two)

0
0

Find out how many rows are missing in the column 'WorkLoc'

In [28]:
# your code goes here
missing_row_count = df['WorkLoc'].isna().sum()
print(missing_row_count)

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [30]:
# your code goes here
workloc_value_counts = df['WorkLoc'].value_counts()
print(workloc_value_counts)

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

In [31]:
#Quiz question 1
employment_value_counts = df['Employment'].value_counts()
print(employment_value_counts)

Employed full-time    10968
Employed part-time      430
Name: Employment, dtype: int64

In [32]:
#Quiz question 2
major_value_counts = df['UndergradMajor'].value_counts()
print(major_value_counts)

Computer science, computer engineering, or software engineering          6953
Information systems, information technology, or system administration     794
Another engineering discipline (ex. civil, electrical, mechanical)        759
Web development or web design                                             410
A natural science (ex. biology, chemistry, physics)                       403
Mathematics or statistics                                                 372
A business discipline (ex. accounting, finance, marketing)                244
A social science (ex. anthropology, psychology, political science)        210
A humanities discipline (ex. literature, history, philosophy)             207
Fine arts or performing arts (ex. graphic design, music, studio art)      161
I never declared a major                                                  124
A health science (ex. nursing, pharmacy, radiology)                        24
Name: UndergradMajor, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [ ]:
#make a note of the majority value here, for future reference
#Office - 6806

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [33]:
# your code goes here
majority_value = df['WorkLoc'].mode()[0]

df['WorkLoc'].fillna(value=majority_value, inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [34]:
# your code goes here
missing_after_imputation = df['WorkLoc'].isna().sum()
print(missing_after_imputation)

0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [35]:
# your code goes here
comp_freq_categories = df['CompFreq'].unique()
print(comp_freq_categories)

['Yearly' 'Monthly' 'Weekly' nan]

In [36]:
yearly_paid_respondents = (df['CompFreq'] == 'Yearly').sum()
print(yearly_paid_respondents)

6073

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

In [37]:
# your code goes here
def calculate_annual_compensation(row):
    if row['CompFreq'] == 'Monthly':
        return row['CompTotal'] * 12
    elif row['CompFreq'] == 'Weekly':
        return row['CompTotal'] * 52
    elif row['CompFreq'] == 'Yearly':
        return row['CompTotal']
    else:
        return None  
        
df['NormalizedAnnualCompensation'] = df.apply(calculate_annual_compensation, axis=1)

In [38]:
median_normalized_compensation = df['NormalizedAnnualCompensation'].median()
print(median_normalized_compensation)

100000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).